<mat-toolbar style="border: 1px solid gray; background-color: black; position: sticky; top: 0; z-index: 100;">
  <mat-icon style="font-size: 20px; font-weight: bold; color: white;" [routerLink]="['/users']">
    arrow_back_ios_new
  </mat-icon>
</mat-toolbar>

<div class="redeem-container">
  <h2 class="redeem-title">Reclama tus cupones</h2>
  <div *ngIf="coupons?.length; else noCoupons">
    <div *ngFor="let coupon of coupons" class="coupon-card">
      <div class="coupon-info">
        <div class="coupon-title">{{ coupon.title }}</div>
        <div class="coupon-desc">{{ coupon.description }}</div>
      </div>
      <button class="redeem-btn" (click)="redeemCoupon(coupon)">Ver</button>
    </div>
  </div>
  <ng-template #noCoupons>
    <div class="no-coupons">No tienes cupones para reclamar.</div>
  </ng-template>
</div>
