<!-- Contenedor principal del carrusel/hero -->
<div class="hero-container">
  <!-- Imagen de fondo -->

  @if(moviePoster){
    <div
      class="hero-background"
      [ngStyle]="{'background-image': 'url('+ moviePoster.poster_url +')'}">
    </div>

    <!-- Contenido superpuesto -->
    <div class="hero-content">
      <h1>{{moviePoster.title_snapshoot}}</h1>
      <p>
        Animated film that explores the world of Monstropolis,
        where monsters generate their city’s power by scaring
        children at night.
      </p>
      <div class="hero-buttons">
        <button
          mat-stroked-button
          color="primary"
          [routerLink]="['/movies', moviePoster.movieId]"
          >Ver cartelera</button>
      </div>
    </div>

  }@else {
    <p-skeleton width="24rem" height="24rem"></p-skeleton>
  }

</div>

<!-- Sección de películas "trending" -->
<div class="trending-movies-container">
  <h2 style="color: rgba(255, 255, 255, 0.7);">Mas Destacadas</h2>

  <div class="carousel-wrapper">
    <button class="carousel-button left" (click)="scrollCarousel('left')">
      &#10094;
    </button>

    <!-- Contenedor para el carrusel/scroll horizontal de posters -->
    <div class="trending-carousel" #carouselContainer>

      @if(moviesCarrusel.length){
        @for(movies of moviesCarrusel; track $index){

          <div class="movie-poster" (click)="selectMovie(movies)">
            <img [src]="movies.img_url" alt="The Good Dinosaur">
          </div>
        }
      }@else {
        <p-skeleton width="6rem" height="8rem"></p-skeleton>
        <p-skeleton width="6rem" height="8rem"></p-skeleton>
        <p-skeleton width="6rem" height="8rem"></p-skeleton>
        <p-skeleton width="6rem" height="8rem"></p-skeleton>
      }

    </div>

    <button class="carousel-button right" (click)="scrollCarousel('right')">
      &#10095;
    </button>

  </div>

</div>





