<h1 class="text-center">Panel de administracion</h1>
<hr class="mb-5">

<p-card header="Editar carrusel de peliculas">
  <br>
  <p-pickList
  [source]="listMovies"
  [target]="listUpdates"
  [dragdrop]="true"
  [responsive]="true"
  [sourceStyle]="{ height: '30rem' }"
  [targetStyle]="{ height: '30rem' }"
  [disabled]="loading"
  breakpoint="1400px"
  (onMoveToTarget)="onMoveToTarget($event)"
  (onMoveToSource)="onMoveToSource($event)"
>
  <ng-template let-item pTemplate="item">
    <div class="item-container" [ngClass]="{ 'existing-item': existingIds.has(item.externalMovieId) }">
      <p>{{ item.title_snapshoot }}</p>
      <i *ngIf="existingIds.has(item.externalMovieId)"
          class="pi pi-exclamation-circle"
          title="Ya existe en el carrusel"></i>
    </div>
  </ng-template>
</p-pickList>

</p-card>

<p-toast></p-toast>
<p-progressSpinner *ngIf="loading"></p-progressSpinner>










