.layout {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

.sidebar {

  width: 250px;
  height: 100vh;

  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  padding: 20px;
  box-sizing: border-box;
}
.user-profile {
  text-align: center;
  margin-bottom: 30px;
  border: 1px solid black;
}
.avatar {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border: 3px solid #e0e0e0;
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.avatar mat-icon {
  font-size: 42px;         /* Ajusta el tamaño del ícono según prefieras */
  width: auto;             /* Deja que el ícono tome su tamaño natural */
  height: auto;
}
