.ptr--top .ptr__text {
  color: #fff !important; /* O el color que prefieras */
}

.layout {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
  overflow-y: auto;
  color: white;
}

.dock-content {
  --p-dock-background: rgb(15, 15, 30);
  --p-dock-item-size: 55px;

  opacity: 1;
  background-color: black;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%); /* para centrar horizontalmente */
  z-index: 1000;               /* o el valor que necesites */
  /* width: 300px; (opcional) si deseas forzar un ancho fijo */
}

.dock-content .p-dock {
  margin: 0 auto; /* opcional, para asegurarte de que el dock no se desplace */
}

.title-toolbar {
  /* quiero aumtar el ancho de las letras */
  font-size: 2rem;
  font-weight: bold;
  color: white;
  padding: 10px;
  padding-right: 40px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.options-toolbar {
  padding: 40px;
}

.sidebar {
  width: 250px;
  height: 100vh;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  padding: 20px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;

  }
}

.user-profile {
  text-align: center;
  margin-bottom: 30px;
  border: 1px solid black;
}
.avatar {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border: 3px solid #e0e0e0;
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.avatar mat-icon {
  font-size: 42px;         /* Ajusta el tamaño del ícono según prefieras */
  width: auto;             /* Deja que el ícono tome su tamaño natural */
  height: auto;
}

.spacer {
  flex: 1 1 auto;
}

.responsive-toolbar {
  display: flex;
  flex-direction: column;
}

.toolbar-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.select-container {
  width: 100%;
  margin-top: 10px; /* separación opcional */
}

/* Si en pantallas grandes deseas mostrar ambos en una fila, puedes hacer: */
@media (min-width: 601px) {
  .responsive-toolbar {
    flex-direction: row;
    align-items: center;
  }
  .toolbar-content, .select-container {
    flex: 1;
    margin-top: 0;
  }
  .select-container {
    display: flex;
    justify-content: flex-end;
  }

}

/* Estilo general para el botón de ubicacion */
.ubicacion-button {

  display: inline-flex;
  align-items: center;
  flex-wrap: wrap; /* Permite que el contenido se acomode en varias líneas */
}

/* Asegura que el icono no se encoja ni se corte */
.ubicacion-button mat-icon {
  flex-shrink: 0;
}

/* Estilo para el texto del botón */
.title-ubication {
  margin-left: 4px;
  white-space: normal;       /* Permite el salto de línea */
  word-wrap: break-word;      /* Rompe palabras largas si es necesario */
  overflow-wrap: break-word;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 600px) {
  .title-ubication {
    font-size: 10px;

    max-width: 100%; /* Para que no exceda el ancho disponible */
  }
}
