<div class="layout">

  <mat-toolbar style="background-color: rgba(0, 0, 0, 0); position: fixed; z-index: 10;">
    <button mat-icon-button [matMenuTriggerFor]="menu1">
      <mat-icon>manage_accounts</mat-icon>
    </button>

    <span class="spacer"></span>
    <mat-icon>location_on</mat-icon>
    <span [matMenuTriggerFor]="menu" style="font-size: 13px; word-wrap: break-word; overflow-wrap: break-word;">{{userCurrentRegion}}</span>
  </mat-toolbar>

  <router-outlet />

  <mat-toolbar></mat-toolbar>
</div>

<mat-menu #menu="matMenu">
  <ng-container *ngFor="let region of regions">
    <button mat-menu-item (click)="onChangeUbication(region.name)">
      {{ region.name }}
    </button>
  </ng-container>
</mat-menu>

<mat-menu #menu1="matMenu">

  <button mat-menu-item [routerLink]="['movies']">
    Inicio
  </button>

  @if(currentUser?.role === 'Administrador'){
    <button mat-menu-item [routerLink]="['administration']">
      Administracion
    </button>
  }

  @if(currentUser){
    <button mat-menu-item [routerLink]="['account']">
      Cuenta
    </button>
  }@else{
    <button mat-menu-item [routerLink]="['auth/login']">
      Iniciar sesion
    </button>
  }

</mat-menu>

