<div class="carousel-bg">
  <movie-carrusel></movie-carrusel>
</div>

<div class="list-movies-container container">

  <movie-search-box [movies]="movies"></movie-search-box>

  <mat-tab-group
    [dynamicHeight]="true"
    style="min-height: 400px;"
    [selectedIndex]="selectedTabIndex"
    (selectedTabChange)="onTabChange($event)"
    >
    <mat-tab label="En cartelera">
      <div class="row mt-4">
        <ng-container *ngIf="moviesPremiere?.length; else loadingMovies">
          <div class="col-6 col-sm-4 col-md-3 col-lg-2" *ngFor="let movie of moviesPremiere">
            <movie-card [movie]="movie"></movie-card>
            <br>
          </div>
        </ng-container>

      </div>

      <ng-template #loadingMovies>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2" *ngFor="let item of moviesSkeleton">

          <br>
          <p-skeleton height="15rem"></p-skeleton>
        </div>
      </ng-template>

    </mat-tab>

    <mat-tab label="Preventas">

      <div class="row mt-4">
        @for (movie of moviesPresale; track movie) {
          <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <movie-card [movie]="movie"></movie-card>
            <br>
          </div>
        }
      </div>
    </mat-tab>

    <mat-tab label="Proximamente">
      <div class="row mt-4">
        @for (movie of moviesComingSoon; track movie) {
          <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <movie-card [movie]="movie"></movie-card>
            <br>
          </div>
        }
      </div>
    </mat-tab>
  </mat-tab-group>


</div>

<br class="mb-5">

<router-outlet></router-outlet>

