
.spacer {
  flex: 1 1 auto;
}

.header-toolbar {
  position: fixed;
  top: 0;
  z-index: 100;
  background-color:"whitesmoke";
}

.list-movies-container {
  margin-top: 100vh; /* Por ejemplo, la altura completa del viewport */

}

/* Ajuste para pantallas grandes o para mayor precisión */
@media (min-width: 992px) {
  .list-movies-container {
    margin-top: 850px; /* igual a la altura del .hero-container en escritorio */
  }
}

@media( max-width: 992px) {
  .list-movies-container {
    margin-top: 850px; /* un valor menor para pantallas pequeñas */
  }
}

@media (min-width: 1200px) {
  .list-movies-container {
    margin-top: 900px; /* un valor mayor para pantallas más grandes */
  }
}

/* Ajuste para móviles */
@media (max-width: 768px) {
  .list-movies-container {
    margin-top: 780px; /* un valor menor para pantallas pequeñas */
  }
}

@media (max-width: 350px) {
  .list-movies-container {
    margin-top: 780px; /* un valor menor para pantallas pequeñas */
  }
}
