<div style="display: grid; justify-content: center; align-items: center; height: 100vh;">

  <mat-card class="w-100">

    <mat-card-actions>
      <button [routerLink]="['/movies', 'list']" mat-button class="right-button">
        <mat-icon>arrow_back</mat-icon>
      </button>

      <mat-card-title class="centered-title">INICIAR SESION</mat-card-title>

    </mat-card-actions>
    <hr>

    <form [formGroup]="loginForm" (ngSubmit)="login()">

      <mat-card-content>
        <div class="row w-100 mx-auto">

          <mat-form-field appearance="outline" subscriptSizing="fixed">
            <mat-label>Email</mat-label>
            <mat-icon matSuffix>person</mat-icon>
            <input matInput formControlName="email">
          </mat-form-field>

          <mat-form-field appearance="outline" >
            <mat-label>Clave</mat-label>
            <mat-icon matSuffix>password</mat-icon>
            <input matInput formControlName="password">
          </mat-form-field>

        </div>

      </mat-card-content>

      <mat-card-actions>
        <div class="row mx-auto">
          <button class="mb-2" mat-flat-button type="submit">Ingresar</button>
          <button class="mb-2" mat-stroked-button [routerLink]="['/auth', 'new-account']">Registrarse</button>
          <mat-divider></mat-divider>
          <button class="mt-2" mat-button>Olvido su contraseña?</button>
        </div>
      </mat-card-actions>
    </form>

  </mat-card>

</div>
