<mat-accordion>
  <br>
  @if(funciones){
    @for (funcion of funciones; track funcion) {
      <mat-expansion-panel>
        <mat-expansion-panel-header>{{funcion.cinemaType}}</mat-expansion-panel-header>

        @for (cinema of funcion.cinemas; track cinema) {

          <mat-expansion-panel>
            <mat-expansion-panel-header>{{cinema.cinemaName}}</mat-expansion-panel-header>

            <mat-divider></mat-divider>
            <mat-card-subtitle>Horarios: </mat-card-subtitle>
            @for (schedule of cinema.showtimes; track schedule) {
              <h6>{{ schedule.showtime }} </h6>

            }

          </mat-expansion-panel>

        }

      </mat-expansion-panel>
      <br>

    }
  }

</mat-accordion>
