<mat-dialog-actions>
  <button class="btn-close" style="background-color: cyan;" (click)="onClose()"></button>
</mat-dialog-actions>

<mat-dialog-content style="background-color: rgb(15, 15, 30);">

  <mat-accordion >
    <br>
    @if(data.billboards){
      @for (billboard of data.billboards; track billboard) {
        <mat-expansion-panel style="background-color: rgba(36, 73, 80, 0.1);">
          <mat-expansion-panel-header>{{billboard.cinemaType}}</mat-expansion-panel-header>

          @for (cinema of billboard.cinemas; track cinema) {
            <br>
            <mat-card>
              <mat-card-header>
                <mat-card-title>{{cinema.cinemaName}}</mat-card-title>

              </mat-card-header>
              <hr>
              <mat-card-content>
                <mat-card-subtitle>Funciones: </mat-card-subtitle>
                <div class="row">
                  @for (schedule of cinema.showtimes; track schedule) {

                    <div class="col-2">
                      @if(billboard.cinemaType === 'Cinepolis'){
                        <button mat-button
                        (click)="buildUrlPaymentCinepolis(
                          cinema.vistaId,
                          schedule.showtimeExternalId)"

                          >{{ schedule.showtime }} {{schedule.language}}</button>

                      }@else if
                      (billboard.cinemaType === 'Cinemark'){
                        <button mat-button
                        (click)="buildUrlPaymentCinemark(
                          cinema.cinemaExternalId,
                          schedule.showtimeExternalId,
                          schedule.showdate,
                          schedule.showtime,
                          cinema.cinemaSlug,
                          schedule.sessionId
                          )"

                          >{{ schedule.showtime }} {{schedule.language}}</button>

                      }
                    </div>

                  }
                </div>


              </mat-card-content>

            </mat-card>

            <!-- <mat-expansion-panel style="background-color: rgba(0, 0, 0, 0.1);">
              <mat-expansion-panel-header>{{cinema.cinemaName}}</mat-expansion-panel-header>

              <mat-divider></mat-divider>
              <mat-card-subtitle>Horarios: </mat-card-subtitle>
              @for (schedule of cinema.showtimes; track schedule) {
                <div class="row">
                  <h6>{{ schedule.showtime }} </h6>
                  @if(billboard.cinemaType === 'Cinepolis'){
                    <button mat-flat-button (click)="buildUrlPaymentCinepolis(cinema.vistaId, schedule.showtimeExternalId)">Ir al pago</button>
                  }
                  @if(billboard.cinemaType === 'Cinemark'){
                    <button mat-flat-button (click)="buildUrlPaymentCinemark(cinema.cinemaExternalId, schedule.showtimeExternalId,schedule.showdate, schedule.showtime, cinema.cinemaSlug)">Ir al pago</button>
                  }

                </div>
              }

            </mat-expansion-panel> -->

          }

        </mat-expansion-panel>
        <br>

      }
    }

  </mat-accordion>

</mat-dialog-content>



