div {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

.spacer {
  flex: 1 1 auto;
}

.sidebar {

  width: 250px;
  height: 100vh;

  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  padding: 20px;
  box-sizing: border-box;
}
.user-profile {
  text-align: center;
  margin-bottom: 30px;
  border: 1px solid black;
}
.avatar {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border: 3px solid #e0e0e0;
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.avatar mat-icon {
  font-size: 42px;         /* Ajusta el tamaño del ícono según prefieras */
  width: auto;             /* Deja que el ícono tome su tamaño natural */
  height: auto;
}
.user-name {
  font-size: 18px;
  font-weight: bold;
  color: #333;

}
.user-email {
  font-size: 14px;
  color: #666;

}
.account-info {
  border-top: 1px solid #e0e0e0;

}
.info-item {
  display: flex;
  justify-content: space-between;

  font-size: 14px;
}
.info-label {
  color: #666;
}
.info-value {
  color: #333;
  font-weight: bold;
}
