div {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

.example-container {
  width: auto;
  height: auto;
  margin: 10px;
  margin-top: 60px;

  background-color: rgb(15, 15, 30);
}
