/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto,
  "Helvetica Neue", sans-serif;

}

/* Para el contenedor del diálogo */
.custom-dialog-container {
  background: transparent !important;
  box-shadow: none !important; /* Opcional: elimina la sombra si no la deseas */
}

/* Para el backdrop, si es necesario */
.custom-dialog-backdrop {
  background-color: transparent !important;
}

:host ::ng-deep .p-galleria-thumbnail {
  background: transparent !important;
}

:host ::ng-deep .p-galleria-thumbnail-container {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  z-index: 10;
  background: transparent !important;
}


