<div class="video-container">
  <mat-toolbar style="width: 100%; background-color: whitesmoke; color: black;">
    <mat-icon style="font-size: 20px; font-weight: bold;" [routerLink]="['/movies']">
      arrow_back_ios_new
    </mat-icon>
    <p style="margin: 0 auto; width: 90%; text-align: center;">{{movie?.title}}</p>
  </mat-toolbar>

  <img
    class="img-video"
    [src]="getYouTubeThumbnailUrl(movie?.trailer_url)"
    alt="Video thumbnail"
    (click)="openVideoDialog()"
  />

</div>

<div class="movie-detail-container container">
  <mat-card style="background-color: rgb(31, 31, 31);">
    <mat-card-content>

        <div class="row">
          <div class="col-3 col-md-3 movie-detail">
            <img [src]="movie?.img_url" width="100%">
            <hr>
            <h5>
              Titulo
              <mat-divider class="mb-2"></mat-divider>
              <p class="movie-title">{{ movie?.title }}</p>
            </h5>

            <h5>
              Rating
              <mat-divider class="mb-2"></mat-divider>
              <h6 class="movie-rating">{{ movie?.rating }}</h6>
            </h5>

          </div>

          <div class="col-9 col-md-9">
            <h4 class="synopsis-title">{{ movie?.synopsis_alt }}</h4>

            <h5>Sinopsis</h5>
            <p class="movie-synopsis" style="color: white;">{{ movie?.synopsis }}</p>
          </div>
        </div>


    </mat-card-content>
  </mat-card>

</div>

<p class="text-center mt-2 mb-2;" style="font-size: 30px; color: black;">Funciones</p>

<div class="container">

  <mat-form-field appearance="fill" class="fechas-funciones" class="w-100">
    <mat-label>Funciones disponibles</mat-label>
    <mat-select [value]="dates[0]">
      @for (date of dates; track date) {
        <mat-option [value]="date" (onSelectionChange)="onSelectDate(date, $event)">{{date}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-list>
    @for(cinema of funciones; track cinema){

      <mat-list-item
        (click)="openShowtimes(cinema.cinemas, cinema.cinemaType)"
        matRipple
        style="background-color: rgb(31, 31, 31);">

        <span style="color: white;">{{cinema.cinemaType | uppercase}}</span>

      </mat-list-item>
      <mat-divider></mat-divider>

    }

  </mat-list>

</div>







