h1, h2, h3, h4, h5, h6, p {
  color: gray;
}
/* Contenedor del video con altura fija para evitar que se solapen con el contenido */
.video-container {
  border-radius: 20px;
  position: relative;
  height: 400px; /* Este valor debe coincidir con el alto de la imagen del video */
  margin-bottom: 20px; /* Separa visualmente del contenido de abajo */
}

/* Imagen del poster superpuesta, posicionada de forma absoluta respecto a video-container */
.movie-poster {
  position: absolute;
  bottom:-100px;      /* Ajusta para posicionarla verticalmente dentro del video-container */
  left: 13%;         /* Centra horizontalmente */
  transform: translateX(-50%);
  z-index: 10;       /* Se asegura que esté por encima del video */
  width: 200px;      /* Ajusta el tamaño según necesites */
}


