h6 {
  color: gray;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}


/* Contenedor del video */
.video-container {
  z-index: 1000;
  position: fixed;
  top: 0px;
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;     /* Opcional, recorta la imagen si se sale */
}

.movie-synopsis {
  font-size: clamp(14px, 3vw, 18px); /* Ajusta min, punto medio y max a tus necesidades */
  max-height: 250px;
  text-align: justify; /* Justifica el texto */
  overflow-y: auto;
  /* Opcionales para partir palabras largas */
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: white;
}

.poster-container {
  /* No necesitamos position fijo de entrada; lo haremos dinámico con JS */
  position: absolute;
  left: 25px; /* Ajusta según tu diseño */
}

.movie-detail-container {
  margin-top: 60%;
}

/* @media (max-height: 500px) {
  .movie-detail-container {
    margin-top: 200px;
  }
}

@media (max-height: 600px) {
  .movie-detail-container {
    margin-top: 220px;
  }
}

@media (max-height: 768px) {
  .movie-detail-container {
    margin-top: 220px;
  }
}

@media (min-height: 874px) {
  .movie-detail-container {
    margin-top: 280px;
  }
}

@media (min-height: 900px) {
  .movie-detail-container {
    margin-top: 280px;
  }
} */

.movie-title {
  font-size: clamp(14px, 3vw, 18px); /* Ajusta min, punto medio y max a tus necesidades */
  word-wrap: break-word;
  overflow-wrap: break-word;

}

.movie-rating {
  font-size: clamp(14px, 3vw, 18px); /* Ajusta min, punto medio y max a tus necesidades */
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* Quitamos el margin-top grande */
.movie-detail {

  align-items: center;
  justify-content: center;
}

/* Miniatura del video */
.img-video {
  height: 100%;
  width: 100%;
  object-fit: cover;  /* Para que ocupe todo sin deformarse */
  cursor: pointer;
}

/* Póster posicionado dentro de .video-container */
.movie-poster {
  width: 80px;
  border-radius: 8px;
  cursor: pointer;
  /* Transición opcional para suavizar */
  transition: top 0.3s ease, left 0.3s ease;
}







