<div class="container mt-5">

  <!-- Contenedor del video con alto fijo -->
  <mat-card class="video-container">
    <img
      class="img-video"
      [src]="getYouTubeThumbnailUrl(movie?.trailer_url)"
      alt="Video thumbnail"
      (click)="openVideoDialog()"
    />
  </mat-card>
  <!-- Imagen del poster posicionada de forma absoluta -->

  <mat-card class="mb-5">
    <!-- Contenido textual que quedará siempre debajo del contenedor de video -->
    <mat-card-content >

      <div class="row">
        <div class="col-3 col-md-3 movie-detail">

          <img
            class="movie-poster"
            [src]="movie?.img_url"
            [alt]="movie?.title"
          />

          <h5>Titulo </h5>
          <mat-divider></mat-divider>
          <h6>{{ movie?.title }}</h6>

          <h5>Rating</h5>
          <mat-divider></mat-divider>
          <h6>{{ movie?.rating }}</h6>

          <h5>Categoria:</h5>
          <mat-divider></mat-divider>

          <br>
          <button mat-flat-button (click)="openBillboards()" [disabled]="!funciones">
            Ver funciones
          </button>
        </div>

        <div class="col-9 col-md-9">
          <h3>{{ movie?.synopsis_alt }}</h3>
          <br>
          <h5 >Sinopsis:</h5>
          <h6 style="max-height: 200px; overflow-y: auto;">{{ movie?.synopsis }}</h6>
        </div>

      </div>
    </mat-card-content>
  </mat-card>

</div>



