<div style="display: grid; justify-content: center; align-items: center;">

  <mat-card class="w-100">

    <mat-card-actions>
      <button [routerLink]="['/auth', 'login']" mat-button class="right-button">
        <mat-icon>arrow_back</mat-icon>
      </button>

      <mat-card-title class="centered-title">Registro</mat-card-title>
      <hr>
    </mat-card-actions>

    <form [formGroup]="registerForm" (ngSubmit)="register()">

      <mat-card-content>
        <div class="row w-100 mx-auto">

          <div class="col-12">
            <mat-form-field appearance="outline" class="w-100" >
              <mat-label>Name</mat-label>
              <mat-icon matSuffix>person</mat-icon>
              <input matInput formControlName="name">
            </mat-form-field>
          </div>

          <div class="col-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Email</mat-label>
              <mat-icon matSuffix>email</mat-icon>
              <input matInput  formControlName="email">
            </mat-form-field>
          </div>

          <div class="col-12">
            <mat-form-field appearance="outline" class="w-100" >
              <mat-label>Password</mat-label>
              <mat-icon matSuffix>password</mat-icon>
              <input type="password" matInput formControlName="password">
            </mat-form-field>
          </div>

        </div>

      </mat-card-content>

      <mat-card-actions>

        <div class="container text-center">
          <div class="row justify-content-between">

            <div class="col-12 col-md-6">
              <button mat-button type="reset" (click)="resetValues()">Limpiar</button>
            </div>

            <div class="col-12 col-md-6" >
              <button mat-flat-button type="submit">Crear</button>
            </div>

          </div>
        </div>
      </mat-card-actions>
    </form>


  </mat-card>

</div>


