<div style="display: grid; justify-content: center; align-items: center; height: 100vh;">

  <mat-card class="w-100" style="border-radius: 0%;">

    <mat-card-actions>
      <button [routerLink]="['/auth', 'login']" mat-button class="right-button">
        <mat-icon>arrow_back</mat-icon>
      </button>

      <mat-card-title class="centered-title">Registro</mat-card-title>

    </mat-card-actions>
    <hr>
    <form [formGroup]="registerForm" (ngSubmit)="register()">

      <mat-card-content>
        <div class="row w-100 mx-auto">

          <div class="col-12">
            <mat-form-field appearance="outline" class="w-100" >
              <mat-label>Name</mat-label>
              <mat-icon matSuffix>person</mat-icon>
              <input matInput formControlName="name">
            </mat-form-field>
          </div>

          <div class="col-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Email</mat-label>
              <mat-icon matSuffix>email</mat-icon>
              <input matInput  formControlName="email">
            </mat-form-field>
          </div>

          <div class="col-12">
            <mat-form-field appearance="outline" class="w-100" >
              <mat-label>Password</mat-label>
              <mat-icon matSuffix>password</mat-icon>
              <input type="password" matInput formControlName="password">
            </mat-form-field>
          </div>

        </div>

      </mat-card-content>

      <mat-card-actions>

        <div class="row mx-auto w-100">
          <button class="mb-2" mat-flat-button type="submit">Crear</button>
          <button class="mt-2" mat-stroked-button type="reset" (click)="resetValues()">Limpiar</button>
        </div>

      </mat-card-actions>
      
    </form>

    <br>
  </mat-card>

</div>


