/* En tu archivo CSS/SCSS del componente */


.centered-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

.left-button {
  margin-right: auto; /* Empuja el botón a la derecha */
}
