
<mat-toolbar #headerElement class="header-toolbar">
  <div class="safe-area-container">
    <button mat-icon-button (click)="onToggleDrawer()"><mat-icon>menu</mat-icon></button>
    <img src="img/LOGO_SALA1-removeng.png" width="70px">
    <span class="spacer"></span>

    <h3 class="current-region">{{userCurrentRegion}}</h3>
    <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>location_on</mat-icon></button>
  </div>
</mat-toolbar>


<mat-menu #menu="matMenu">
  <ng-container *ngFor="let region of regions">
    <button mat-menu-item (click)="onChangeUbication(region.name)">
      {{ region.name }}
    </button>
  </ng-container>
</mat-menu>
