<!-- Agregar padding en android -->
<!-- [class.android-header-toolbar]="isAndroid" -->
<mat-toolbar class="header-toolbar">
  <div class="safe-area-container">

    <!-- Menú lateral -->
    <button mat-icon-button (click)="onToggleDrawer()">
      <mat-icon>menu</mat-icon>
    </button>

    <!-- Logo -->
    <img
      ngSrc="img/_logo_sala1.png"
      priority
      width="60"
      height="60"
      alt="Logo Sala 1"
      [routerLink]="['/movies']" />
      
      <span class="spacer"></span>
    <!-- Botón ubicación + región -->
    <button
      mat-button
      class="location-btn"
      [matMenuTriggerFor]="menu">

      <mat-icon class="icon-location" aria-hidden="true">location_on</mat-icon>
      <span class="current-region">{{ userCurrentRegion }}</span>
    </button>

  </div>
</mat-toolbar>


<mat-menu #menu="matMenu">
  <ng-container *ngFor="let region of regions">
    <button mat-menu-item (click)="onChangeUbication(region.name)">
      {{ region.name }}
    </button>
  </ng-container>
</mat-menu>
