@for(movie of dataSource; track movie){

  <mat-card matRipple style="background-color: whitesmoke; width: 100%;" (click)="showDialog(movie)">
    <mat-card-content>
      <div class="row">
        <div class="col-4">
          <img [src]="movie.img_url" width="100px">
        </div>

        <div class="col-8">

          <div class="row">
            <div class="col-3">
              No.
            </div>
            <div class="col-9">
              {{movie.id}}
            </div>
          </div>

          <div class="row">
            <div class="col-3">
              Titulo:
            </div>
            <div class="col-9">
              {{movie.title}}
            </div>
          </div>

          <div class="row">
            <div class="col-3">
              Rating:
            </div>
            <div class="col-9">
              {{movie.rating}}
            </div>
          </div>

          <div class="row">
            <div class="col-3">
              Tipo:
            </div>
            <div class="col-9">
              {{movie.screen_type}}
            </div>
          </div>

        </div>
      </div>

      <br>
      <div style="border: 1px solid black; border-radius: 20px; padding: 15px;">
        <div class="row">
          <div class="col-5">
            <h6>Titulo Sinopsis:</h6>
          </div>

          <div class="col-7">
            {{movie.synopsis_alt}}
          </div>

        </div>

        <div class="row">
          <h6>Sinopsis</h6>
          <div class="col-12">
            {{movie.synopsis}}
          </div>
        </div>
      </div>

    </mat-card-content>
  </mat-card>
  <br>

}

<p-dialog header="Editar Pelicula" appendTo="body" [blockScroll]="true" [modal]="true" [(visible)]="visible" [style]="{ width: '40rem' }">

  <div class="container">
    <div class="row">

    </div>
  </div>


  <form [formGroup]="editForm" (ngSubmit)="onChangesInput()" class="p-fluid">

    <div>
      <span class="p-text-secondary block mb-8">Titulo</span>
      <div class="flex items-center gap-4 mb-4">
        <input styleClass="edit-movie-dialog" pInputText class="flex-auto w-100" autocomplete="off" [value]="Editmovie?.title" formControlName="title"/>
      </div>
    </div>

    <div>
      <span class="p-text-secondary block mb-8">Tipo</span>
      <div class="flex items-center gap-4 mb-4">
        <p-select pselect [options]='foods' optionLabel="value" optionValue="viewValue" class="flex-auto w-100" autocomplete="off" formControlName="screen_type"/>
      </div>
    </div>

    <div>
      <span class="p-text-secondary block mb-8">Actualizar la imagen con una URL (300x400)</span>
      <div class="flex items-center gap-4 mb-4">
        <input pInputText id="img_url" class="flex-auto w-100" autocomplete="off" [value]="Editmovie?.img_url" formControlName="img_url"/>
      </div>
    </div>

    <div>
      <span class="p-text-secondary block mb-8">Titulo sinopsis</span>
      <div class="flex items-center gap-4 mb-4">
        <input pInputText class="flex-auto w-100" autocomplete="off" [value]="Editmovie?.synopsis_alt" formControlName="title_sinopsis"/>
      </div>
    </div>

    <div>
      <span class="p-text-secondary block mb-8">Sinopsis</span>
      <div class="flex items-center gap-4 mb-4">
        <!-- <input pInputText id="img_url" class="flex-auto w-100" autocomplete="off" [value]="Editmovie?.title" formControlName="img_url"/> -->
        <textarea autoResize rows="5" cols="30" class="flex-auto w-100" pTextarea  [value]="Editmovie?.synopsis" formControlName="synopsis"></textarea>
      </div>
    </div>




    <div class="flex justify-end gap-2">
      <p-button type="button" label="Cancelar" severity="secondary" (click)="visible = false" />
      <p-button (click)="onChangesInput()" type="submit" label="Actualizar" (click)="visible = false" />
    </div>
  </form>

</p-dialog>


